<% include partials/header %>

<h1>Home</h1>

<div class="alert alert-danger" id="messages"><%= message %></div>

<% for (post in posts) {%>
    <h3><%= posts[post].title %></h3>
    <p><%= posts[post].body %></p><br>
    <small>Written by: <%=posts[post].author %> at <%= posts[post].created_at%></small>
<% } %>

<% include partials/footer %> 