<% include partials/header %>

<h1>Home</h1>

<div class="alert alert-danger" id="messages"><%= message %></div>

<% for (post in posts) {%>
    <a href="/post/view/<%=posts[post]._id%>"><%= posts[post].title %></a>
    <small>Written by: <%=posts[post].author %> at <%= posts[post].created_at%></small><br>
<% } %>

<script>
        
</script>

<% include partials/footer %> 